.button {
    background-color: rgb(82, 5, 82);
    color: white;
    padding: 4px 12px;
    border: none;
  }

.button:hover {
  background-color: rgb(110, 7, 110);
  box-shadow: 1px 1px 4px black;
}